* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Permanent Marker";
}

body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  .navbar {
    padding: 1% 0;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1%;
  }
  .container {
    display: flex;
    justify-content: center;
    .table {
      font-size: 1.15rem;
      tr {
        text-align: center;
        th {
          width: 25%;
        }
      }
    }
  }
}
